{% extends 'base.html.twig' %}

{% block body %}
<h1>Modifier</h1>
<tr>
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}
</tr>
    <ul>
        <li>
            <a href="{{ path('carnet_index') }}">Retour</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; color: #FF1493;}
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    tr {background-color: #FFB6C1;}
</style>
{% endblock %}
